<div class="container">
    <p></p>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">
                <a routerLink="/ciudades">Ciudades</a> / Contacto
            </li>
        </ol>
    </nav>
</div>

<div class="container">
    <label for="">Nombre</label>
    <input type="text" class="form-control" placeholder="Nombre" /> <br>

    <label for="">Email</label>
    <input type="email" class="form-control" placeholder="Email" /> <br>

    <label for="">Mensaje</label>
    <textarea cols="30" rows="10" class="form-control"></textarea> 

    <hr>

    <a href="#" class="btn btn-primary">Enviar</a>
    <a href="#" class="btn btn-default" routerLink="/lugares">Cancelar</a>
</div>