<!--The content below is only a placeholder and can be replaced.-->
<agm-map [latitude]="lat" [longitude]="lng">
  <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
</agm-map>

<hr />

<div style="text-align:center">
  <ul>
    <ng-container *ngFor="let ciudad of ciudades">
        <li *ngIf="ciudad.poblacion <= 3500000">{{ciudad.nombre}}</li>
    </ng-container>
  </ul>

  <ul>
      <ng-container *ngFor="let ciudad of ciudades" [ngSwitch]="ciudad.cercania">
          <a contar-clicks>
            <li 
              [ngStyle]="{background: (ciudad.poblacion <= 3500000) ? 'teal' : 'tomato'}"
              [ngClass]="{bigPopulation: (ciudad.poblacion <= 3500000)}"
              [resaltar]="ciudad.publicidad"
            >
              {{ciudad.nombre}} - 
              <span *ngSwitchCase="1">Muy cernana</span>
              <span *ngSwitchCase="2">Cernana</span>
              <span *ngSwitchCase="3">Lejana</span>
            </li>
          </a>
      </ng-container>
    </ul>
</div>

