<agm-map [latitude]="lat" [longitude]="lng">
    <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
</agm-map>

<hr />

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h2>Ciudades</h2>
            <a routerLink="/crear/new" class="btn btn-primary">Registrar Ciudad</a>
            <ul class="list-group">
                <ng-container *ngFor="let ciudad of ciudades">
                    <a routerLink="/crear/{{ciudad.id}}">
                        <li class="list-group-item">{{ciudad.nombre}}</li>
                    </a>
                </ng-container>
            </ul>
        </div>

        <div class="col-md-4">
            <h2>Destacadas</h2>
        </div>
    </div>
</div>