/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
agm-map {
    height: 300px;
}

li{
    list-style: none;
}

.bigPopulation{
    color: #fff;
    font-family: sans-serif;
    font-weight: 500;
}